@import "tailwindcss";

@font-face {
  font-family: 'AzkolsKerning7';
  src: url('./v2/assets/azkolskerning7-webfont.woff2') format('woff2'),
       url('./v2/assets/azkolskerning7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
